Android-My-Nanny-old-version/docs/node-red.json
[
  {
    "id": "deb0d57.1c46528",
    "type": "tab",
    "label": "Sensors",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4cb0e86d.600448",
    "type": "tab",
    "label": "Login and Register",
    "disabled": false,
    "info": ""
  },
  {
    "id": "617f368d.e49e1",
    "type": "tab",
    "label": "Reports",
    "disabled": false,
    "info": ""
  },
  {
    "id": "fbe8c005.0851c",
    "type": "mongodb",
    "z": "",
    "hostname": "ds125381.mlab.com",
    "port": "25381",
    "db": "my_nanny",
    "name": "MLAB"
  },
  {
    "id": "15e1402c.b3d84",
    "type": "ui_base",
    "z": 0,
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "838d990d.565c08",
    "type": "ui_tab",
    "z": 0,
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "a1ccd92a.dd8048",
    "type": "ui_group",
    "z": 0,
    "name": "MyNanny",
    "tab": "838d990d.565c08",
    "disp": true,
    "width": "20",
    "collapse": false
  },
  {
    "id": "7daeaee.47dd75",
    "type": "mongodb2",
    "z": "",
    "uri": "",
    "name": "",
    "options": "",
    "parallelism": "-1"
  },
  {
    "id": "50dec09.11e854",
    "type": "mongodb3",
    "z": 0,
    "uri": "ds125381.mlab.com:25381/my_nanny",
    "name": "MyNanny",
    "options": "",
    "parallelism": "-1"
  },
  {
    "id": "61a94ef3.b7b2b",
    "type": "mqtt-broker",
    "z": "",
    "name": "MQTT-Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "15fddb88.5cd144",
    "type": "mqtt-broker",
    "z": "",
    "name": "Hivemq",
    "broker": "mqtt://broker.mqttdashboard.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "1c708d0a.3c0e13",
    "type": "mqtt-broker",
    "z": "",
    "name": "hivemq",
    "broker": "mqtt://broker.mqttdashboard.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "104c229.da469dd",
    "type": "mongodb-config",
    "z": "",
    "hostname": "ds125381.mlab.com",
    "port": "25381",
    "db": "my_nanny",
    "name": "MLAB"
  },
  {
    "id": "9cb3f990.79ef18",
    "type": "ibmiot in",
    "z": "deb0d57.1c46528",
    "authentication": "quickstart",
    "apiKey": "",
    "inputType": "evt",
    "logicalInterface": "",
    "ruleId": "",
    "deviceId": "987bf397e42d",
    "applicationId": "",
    "deviceType": "+",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "IBM IoT",
    "service": "quickstart",
    "allDevices": "",
    "allApplications": "",
    "allDeviceTypes": true,
    "allLogicalInterfaces": "",
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 70,
    "y": 280,
    "wires": [
      [
        "15f7e283.880e1d",
        "83fcea58.19e308",
        "65f7ac3c.06f654",
        "baebdedf.219d3",
        "7d640115.3c192",
        "4a528359.3bd4dc",
        "99ab8445.407d38",
        "9eeec553.9ebf28",
        "cd263b54.062698",
        "84865323.77429"
      ]
    ]
  },
  {
    "id": "15f7e283.880e1d",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "umidade",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.humidity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 60,
    "wires": [
      [
        "89267df3.760dc",
        "ac1bfed6.f5a1f",
        "45fca032.797508"
      ]
    ]
  },
  {
    "id": "83fcea58.19e308",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Temp. Ambiente",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.ambientTemp",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 220,
    "wires": [
      [
        "2b0d35ab.9fb71a",
        "1943c02c.ceb95",
        "4f0d4651.9f8bb"
      ]
    ]
  },
  {
    "id": "65f7ac3c.06f654",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Luz",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.ambientLight",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 380,
    "wires": [
      [
        "a85d76e.84eda88",
        "9b48a47a.9926e8",
        "8b2c48e1.39496"
      ]
    ]
  },
  {
    "id": "d8ed7c0c.9c7f7",
    "type": "mongodb out",
    "z": "deb0d57.1c46528",
    "service": "_ext_",
    "mongodb": "fbe8c005.0851c",
    "name": "",
    "collection": "temperatura",
    "payonly": false,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 790,
    "y": 240,
    "wires": []
  },
  {
    "id": "6f79ff4a.d8f93",
    "type": "mongodb out",
    "z": "deb0d57.1c46528",
    "service": "_ext_",
    "mongodb": "fbe8c005.0851c",
    "name": "",
    "collection": "umidade",
    "payonly": false,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 740,
    "y": 60,
    "wires": []
  },
  {
    "id": "1943c02c.ceb95",
    "type": "function",
    "z": "deb0d57.1c46528",
    "name": "jsonTempAmbiente",
    "func": "var payload = msg.payload;\nvar d = new Date();\n\nmsg.payload = {\n  \"timestamp\" : d.getTime(),\n  \"temperatura\" :payload\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 240,
    "wires": [
      [
        "d8ed7c0c.9c7f7"
      ]
    ]
  },
  {
    "id": "836fc574.542388",
    "type": "mongodb out",
    "z": "deb0d57.1c46528",
    "service": "_ext_",
    "mongodb": "fbe8c005.0851c",
    "name": "",
    "collection": "luminosidade",
    "payonly": false,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 800,
    "y": 380,
    "wires": []
  },
  {
    "id": "ac1bfed6.f5a1f",
    "type": "function",
    "z": "deb0d57.1c46528",
    "name": "jsonUmidade",
    "func": "var payload = msg.payload;\nvar d = new Date();\n\nmsg.payload = {\n  \"timestamp\" : d.getTime(),\n  \"umidade\" :payload\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 60,
    "wires": [
      [
        "6f79ff4a.d8f93"
      ]
    ]
  },
  {
    "id": "9b48a47a.9926e8",
    "type": "function",
    "z": "deb0d57.1c46528",
    "name": "jsonLuminosidade",
    "func": "var payload = msg.payload;\nvar d = new Date();\n\nmsg.payload = {\n  \"timestamp\" : d.getTime(),\n  \"luminosidade\" :payload\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 590,
    "y": 380,
    "wires": [
      [
        "836fc574.542388"
      ]
    ]
  },
  {
    "id": "baebdedf.219d3",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Temperatura do objeto",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.objectTemp",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 520,
    "wires": [
      [
        "755d2b97.3fea24",
        "266afe5e.bb3242",
        "6509a33c.1e7afc"
      ]
    ]
  },
  {
    "id": "b72275dc.e378e8",
    "type": "mongodb out",
    "z": "deb0d57.1c46528",
    "service": "_ext_",
    "mongodb": "fbe8c005.0851c",
    "name": "",
    "collection": "tempObjeto",
    "payonly": false,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 870,
    "y": 480,
    "wires": []
  },
  {
    "id": "2b0d35ab.9fb71a",
    "type": "ui_gauge",
    "z": "deb0d57.1c46528",
    "name": "",
    "group": "a1ccd92a.dd8048",
    "order": 2,
    "width": "20",
    "height": "6",
    "gtype": "gage",
    "title": "Temperatura Ambiente",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 590,
    "y": 180,
    "wires": []
  },
  {
    "id": "755d2b97.3fea24",
    "type": "ui_gauge",
    "z": "deb0d57.1c46528",
    "name": "",
    "group": "a1ccd92a.dd8048",
    "order": 2,
    "width": "20",
    "height": "6",
    "gtype": "gage",
    "title": "Temperatura Corporal",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "35",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "28",
    "seg2": "30",
    "x": 680,
    "y": 580,
    "wires": []
  },
  {
    "id": "89267df3.760dc",
    "type": "ui_chart",
    "z": "deb0d57.1c46528",
    "name": "",
    "group": "a1ccd92a.dd8048",
    "order": 0,
    "width": "20",
    "height": "6",
    "label": "umidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 560,
    "y": 20,
    "wires": [
      []
    ]
  },
  {
    "id": "a85d76e.84eda88",
    "type": "ui_chart",
    "z": "deb0d57.1c46528",
    "name": "",
    "group": "a1ccd92a.dd8048",
    "order": 1,
    "width": "20",
    "height": "6",
    "label": "Luminosidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 580,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "7d640115.3c192",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Aceleracao - X",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.accelX",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "4a528359.3bd4dc",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Aceleracao - Y",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.accelY",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 640,
    "wires": [
      []
    ]
  },
  {
    "id": "99ab8445.407d38",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Aceleracao - Z",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.accelZ",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "266afe5e.bb3242",
    "type": "function",
    "z": "deb0d57.1c46528",
    "name": "jsonLuminosidade",
    "func": "var payload = msg.payload;\nvar d = new Date();\n\nmsg.payload = {\n  \"timestamp\" : d.getTime(),\n  \"tempObjeto\" :payload\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 480,
    "wires": [
      [
        "b72275dc.e378e8"
      ]
    ]
  },
  {
    "id": "9eeec553.9ebf28",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Giroscopio - X",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.gyroX",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 720,
    "wires": [
      [
        "60db27a5.cbee6"
      ]
    ]
  },
  {
    "id": "84865323.77429",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Giroscopio - Z",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.gyroZ",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "cd263b54.062698",
    "type": "change",
    "z": "deb0d57.1c46528",
    "name": "Giroscopio - Y",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.d.gyroY",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 760,
    "wires": [
      []
    ]
  },
  {
    "id": "60db27a5.cbee6",
    "type": "switch",
    "z": "deb0d57.1c46528",
    "name": "Teste",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "2",
        "vt": "num"
      },
      {
        "t": "lt",
        "v": "-2",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 530,
    "y": 720,
    "wires": [
      [
        "fe3c8efe.b4bce8"
      ],
      [
        "fe3c8efe.b4bce8"
      ]
    ]
  },
  {
    "id": "fe3c8efe.b4bce8",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/sersor/presenca",
    "qos": "0",
    "retain": "false",
    "broker": "15fddb88.5cd144",
    "x": 740,
    "y": 720,
    "wires": []
  },
  {
    "id": "3ba1e3cd.9ecd94",
    "type": "mqtt out",
    "z": "4cb0e86d.600448",
    "name": "",
    "topic": "myNanny/auto/login_response",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 970,
    "y": 100,
    "wires": []
  },
  {
    "id": "2f50797b.b682c6",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Query",
    "func": "msg.payload = JSON.parse(msg.payload);\nmsg.limit = 1;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 100,
    "wires": [
      [
        "3bcbbd74.d3418a"
      ]
    ]
  },
  {
    "id": "2c001fdb.215918",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Response",
    "func": "if (msg.payload.length > 0) {\n    msg.payload = \"Login_OK\";\n} else {\n    msg.payload = \"Login_Fail\";\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 100,
    "wires": [
      [
        "3ba1e3cd.9ecd94"
      ]
    ]
  },
  {
    "id": "3bcbbd74.d3418a",
    "type": "mongodb-node",
    "z": "4cb0e86d.600448",
    "mongodb": "104c229.da469dd",
    "name": "Busca Usuario",
    "collection": "Users",
    "operation": "find",
    "upsert": false,
    "multi": false,
    "x": 540,
    "y": 100,
    "wires": [
      [
        "2c001fdb.215918"
      ]
    ]
  },
  {
    "id": "ff53f13f.33b178",
    "type": "mqtt in",
    "z": "4cb0e86d.600448",
    "name": "",
    "topic": "myNanny/auto/login_request",
    "qos": "2",
    "datatype": "auto",
    "broker": "1c708d0a.3c0e13",
    "x": 160,
    "y": 100,
    "wires": [
      [
        "2f50797b.b682c6"
      ]
    ]
  },
  {
    "id": "c49a2970.d67508",
    "type": "switch",
    "z": "4cb0e86d.600448",
    "name": "Verificação",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "empty"
      },
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 320,
    "wires": [
      [
        "1b6095d5.cde0b2"
      ],
      [
        "11ed8cf2.855ecb"
      ]
    ]
  },
  {
    "id": "1b6095d5.cde0b2",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Get Param",
    "func": "var flowContext = context.flow;\nmsg.payload = flowContext.get(\"user_param\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 300,
    "wires": [
      [
        "67fd7273.716744"
      ]
    ]
  },
  {
    "id": "11ed8cf2.855ecb",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Response",
    "func": "msg.payload = \"Register Fail\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 360,
    "wires": [
      [
        "6aa58b3a.03db04"
      ]
    ]
  },
  {
    "id": "e2f04dd3.cb3658",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Response",
    "func": "msg.payload = \"Register_OK\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 810,
    "y": 300,
    "wires": [
      [
        "6aa58b3a.03db04"
      ]
    ]
  },
  {
    "id": "67fd7273.716744",
    "type": "mongodb-node",
    "z": "4cb0e86d.600448",
    "mongodb": "104c229.da469dd",
    "name": "Busca Usuario",
    "collection": "Users",
    "operation": "store",
    "upsert": false,
    "multi": false,
    "x": 620,
    "y": 300,
    "wires": [
      [
        "e2f04dd3.cb3658"
      ]
    ]
  },
  {
    "id": "6d419a9e.7746e4",
    "type": "mongodb-node",
    "z": "4cb0e86d.600448",
    "mongodb": "104c229.da469dd",
    "name": "Busca Usuario",
    "collection": "Users",
    "operation": "find",
    "upsert": false,
    "multi": false,
    "x": 540,
    "y": 200,
    "wires": [
      [
        "c49a2970.d67508"
      ]
    ]
  },
  {
    "id": "1d1f55ed.cc078a",
    "type": "function",
    "z": "4cb0e86d.600448",
    "name": "Query",
    "func": "msg.payload = JSON.parse(msg.payload);\nvar flowContext = context.flow;\nflowContext.set(\"user_param\",msg.payload);\nmsg.limit = 1;\nmsg.payload = {\"name\":msg.payload.name}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 200,
    "wires": [
      [
        "6d419a9e.7746e4"
      ]
    ]
  },
  {
    "id": "7d9077ae.2f8958",
    "type": "mqtt in",
    "z": "4cb0e86d.600448",
    "name": "",
    "topic": "myNanny/auto/register_request",
    "qos": "2",
    "datatype": "auto",
    "broker": "1c708d0a.3c0e13",
    "x": 150,
    "y": 200,
    "wires": [
      [
        "1d1f55ed.cc078a"
      ]
    ]
  },
  {
    "id": "6aa58b3a.03db04",
    "type": "mqtt out",
    "z": "4cb0e86d.600448",
    "name": "",
    "topic": "myNanny/auto/register_response",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 940,
    "y": 360,
    "wires": []
  },
  {
    "id": "88d0cbc4.1f3f6",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/care/baby_woke_up",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 430,
    "y": 880,
    "wires": []
  },
  {
    "id": "7084c295.172cd4",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/care/baby_fever",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 420,
    "y": 940,
    "wires": []
  },
  {
    "id": "222f4623.b83202",
    "type": "inject",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 880,
    "wires": [
      [
        "88d0cbc4.1f3f6"
      ]
    ]
  },
  {
    "id": "5e963d4c.187c9c",
    "type": "inject",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 100,
    "y": 940,
    "wires": [
      [
        "7084c295.172cd4"
      ]
    ]
  },
  {
    "id": "45fca032.797508",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/sensor/humidity",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 620,
    "y": 100,
    "wires": []
  },
  {
    "id": "4f0d4651.9f8bb",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/sensor/temperature",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 610,
    "y": 280,
    "wires": []
  },
  {
    "id": "8b2c48e1.39496",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/sensor/light",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 600,
    "y": 420,
    "wires": []
  },
  {
    "id": "6509a33c.1e7afc",
    "type": "mqtt out",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/sensor/baby_temperature",
    "qos": "2",
    "retain": "false",
    "broker": "1c708d0a.3c0e13",
    "x": 730,
    "y": 520,
    "wires": []
  },
  {
    "id": "c0ee2bc4.7c9068",
    "type": "mongodb-node",
    "z": "617f368d.e49e1",
    "mongodb": "104c229.da469dd",
    "name": "",
    "collection": "reports",
    "operation": "find",
    "upsert": false,
    "multi": false,
    "x": 360,
    "y": 40,
    "wires": [
      [
        "994bb82f.035188"
      ]
    ]
  },
  {
    "id": "f7f97332.228df",
    "type": "mqtt in",
    "z": "617f368d.e49e1",
    "name": "",
    "topic": "myNanny/reports/read",
    "qos": "2",
    "datatype": "auto",
    "broker": "15fddb88.5cd144",
    "x": 120,
    "y": 40,
    "wires": [
      [
        "c0ee2bc4.7c9068"
      ]
    ]
  },
  {
    "id": "5d556e31.1b881",
    "type": "mqtt out",
    "z": "617f368d.e49e1",
    "name": "",
    "topic": "myNanny/reports/response",
    "qos": "0",
    "retain": "true",
    "broker": "15fddb88.5cd144",
    "x": 760,
    "y": 40,
    "wires": []
  },
  {
    "id": "994bb82f.035188",
    "type": "function",
    "z": "617f368d.e49e1",
    "name": "",
    "func": "msg.payload = msg.payload[0];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 540,
    "y": 40,
    "wires": [
      [
        "5d556e31.1b881"
      ]
    ]
  },
  {
    "id": "1fb8f0b7.6dc4ef",
    "type": "mqtt in",
    "z": "deb0d57.1c46528",
    "name": "",
    "topic": "myNanny/actuator/light",
    "qos": "0",
    "datatype": "auto",
    "broker": "15fddb88.5cd144",
    "x": 130,
    "y": 1020,
    "wires": [
      [
        "169bb3be.a0d4cc"
      ]
    ]
  },
  {
    "id": "169bb3be.a0d4cc",
    "type": "debug",
    "z": "deb0d57.1c46528",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 450,
    "y": 1020,
    "wires": []
  }
]